name = "AWSS3"
uuid = "1c724243-ef5b-51ab-93f4-b0a88ac62a95"
version = "0.10.0"

[deps]
AWS = "fbe9abb3-538b-5e4e-ba9e-bc94f4f92ebc"
ArrowTypes = "31f734f8-188a-4ce0-8406-c8a06bd891cd"
Base64 = "2a0f44e3-6c83-55bd-87e4-b1978d98bd5f"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
EzXML = "8f5d6c58-4d21-5cfd-889c-e3ad7ee6a615"
FilePathsBase = "48062228-2e41-5def-b9a4-89aafe57970f"
MbedTLS = "739be429-bea8-5141-9913-cc70e7f3736d"
Mocking = "78c3b35d-d492-501b-9361-3d52fe80e533"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
Retry = "20febd7b-183b-5ae2-ac4a-720e7ce64774"
SymDict = "2da68c74-98d7-5633-99d6-8493888d7b1e"
URIs = "5c2747f8-b7ea-4ff2-ba2e-563bfd36b1d4"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"
XMLDict = "228000da-037f-5747-90a9-8195ccbf91a5"

[compat]
AWS = "1.63.1"
ArrowTypes = "1.2"
Compat = "3.29.0"
EzXML = "0.9, 1"
FilePathsBase = "=0.9.11, =0.9.12, =0.9.13, =0.9.14, =0.9.15"
JSON3 = "1"
MbedTLS = "0.6, 0.7, 1"
Minio = "0.1, 0.2"
Mocking = "0.7"
OrderedCollections = "1"
Retry = "0.3, 0.4"
SymDict = "0.3"
URIs = "1.3"
XMLDict = "0.3, 0.4"
julia = "1.6"

[extras]
Arrow = "69666777-d1a9-59fb-9406-91d4454c9d45"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
Minio = "4281f0d9-7ae0-406e-9172-b7277c1efa20"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Arrow", "JSON3", "Minio"]
